<section id="discography" class="discography main">
    <img class="pattern-center" src="img/center-pattern.png" alt="">
    <!--Container-->
    <div class="container">
        <!--Row-->
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-9 ">
                <div class="block-content text-center gap-one-bottom-md">
                    <div class="block-title ">
                        <div class="block-bars">
                            <img src="../../assets/img/sound-bars.png" alt="">
                        </div>
                        <h1 class="uppercase mb-0">Years</h1>
                    </div>
                </div>
            </div>
        </div>
        <!--End row-->
    </div>
    <!--End container-->
    <!--Container-->
    <div class="container">
        <!--Row-->
        <div class="row">
            <div class="col-12 col-md-6 col-lg-3">
                <div class="block-content">
                    <a href="#" class="hover-effect">
                        <div class="block-album p-3">
                            <h2 class="uppercase mb-0">2019</h2>
                        </div>
                    </a>
                </div>
            </div> 
            <div class="col-12 col-md-6 col-lg-3">
                <div class="block-content">
                    <a href="#" class="hover-effect">
                        <div class="block-album p-3">
                            <h2 class="uppercase mb-0">2018</h2>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="block-content">
                    <a href="#" class="hover-effect">
                        <div class="block-album p-3">
                            <h2 class="uppercase mb-0">2017</h2>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="block-content">
                    <a href="#" class="hover-effect">
                        <div class="block-album p-3">
                            <h2 class="uppercase mb-0">2016</h2>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div style="margin-top: 20px;"></div>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-3">
                <div class="block-content">
                    <a href="#" class="hover-effect">
                        <div class="block-album p-3">
                            <h2 class="uppercase mb-0">2015</h2>
                        </div>
                    </a>
                </div>
            </div> 
            <div class="col-12 col-md-6 col-lg-3">
                <div class="block-content">
                    <a href="#" class="hover-effect">
                        <div class="block-album p-3">
                            <h2 class="uppercase mb-0">2014</h2>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="block-content">
                    <a href="#" class="hover-effect">
                        <div class="block-album p-3">
                            <h2 class="uppercase mb-0">2013</h2>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="block-content">
                    <a href="#" class="hover-effect">
                        <div class="block-album p-3">
                            <h2 class="uppercase mb-0">2012</h2>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div style="margin-top: 20px;"></div>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-3">
                <div class="block-content">
                    <a href="#" class="hover-effect">
                        <div class="block-album p-3">
                            <h2 class="uppercase mb-0">2010</h2>
                        </div>
                    </a>
                </div>
            </div> 
            <div class="col-12 col-md-6 col-lg-3">
                <div class="block-content">
                    <a href="#" class="hover-effect">
                        <div class="block-album p-3">
                            <h2 class="uppercase mb-0">2009</h2>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="block-content">
                    <a href="#" class="hover-effect">
                        <div class="block-album p-3">
                            <h2 class="uppercase mb-0">2008</h2>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="block-content">
                    <a href="#" class="hover-effect">
                        <div class="block-album p-3">
                            <h2 class="uppercase mb-0">2007</h2>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div style="margin-top: 20px;"></div>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-3">
                <div class="block-content">
                    <a href="#" class="hover-effect">
                        <div class="block-album p-3">
                            <h2 class="uppercase mb-0">2006</h2>
                        </div>
                    </a>
                </div>
            </div> 
            <div class="col-12 col-md-6 col-lg-3">
                <div class="block-content">
                    <a href="#" class="hover-effect">
                        <div class="block-album p-3">
                            <h2 class="uppercase mb-0">2005</h2>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="block-content">
                    <a href="#" class="hover-effect">
                        <div class="block-album p-3">
                            <h2 class="uppercase mb-0">2004</h2>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="block-content">
                    <a href="#" class="hover-effect">
                        <div class="block-album p-3">
                            <h2 class="uppercase mb-0">2003</h2>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <!--End row-->
    </div>
    <!--End container-->
    <!--Container-->
    <!-- <div class="container">
      
        <div class="row justify-content-center">
            <div class="col-12  col-lg-8 col-md-10 ">
                <div class="block-content gap-one-top-md text-center">
                    <div class="block-teaser ">
                        <h2 class="mb-0">PRE-ORDER THE NEW ALBUM AND GET ACCESS TO<br> THE PRE-SALE OF 'THE upcoming TOUR'</h2>
                        <a class="btn btn-primary mt-4" href="#">learn more</a>
                    </div>
                    <div class="block-presale gap-one-top-sm">
                        <ul class="list-inline">
                            <li>
                                <h4 class=" uppercase list-inline-item">Pre-Sale Tour 1 : </h4> 2/07 - 2/09
                            </li>
                            <li>
                                <h4 class=" uppercase list-inline-item">Pre-Sale Tour 2 : </h4> 2/14 - 2/16
                            </li>
                            <li>
                                <h4 class=" uppercase list-inline-item">Pre-Sale Tour 3 : </h4> 2/21 - 2/23
                            </li>
                        </ul>
                        <p class=" opc-50 mb-0">All pre-sales begin 12am local and end 6pm local time.</p>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!--End container-->
</section>