   <!--About section-->
   <section id="about" class="about main brd-bottom">
    <img class="pattern-center" src="../../assets/img/right-pattern.png" alt="">
    <!--Container-->
    <div class="container ">
        <!--Row-->
        <div class="row vertical-align">
            <div class="col-md-5    ">
                <div class="block-content text-center">
                    <h1 class="uppercase mb-0">A Different <br>Kind of Music</h1>
                    <p class="mt-2 lead w-95">Melbourne is the coastal capital of the southeastern Australian state of Victoria. At the city's centre is the modern Federation Square development, with plazas, bars, and restaurants by the Yarra River.</p>
                    <img class="sing mb-0" src="../../assets/img/signature.png" alt="">
                </div>
            </div>
            <div class="col-md-6 offset-md-1   ">
                <div class="block-content">
                    <ul class="block-images row">
                        <li class="col-md-6 col-sm-6"><img src="../../assets/img/3.jpg" alt=""> </li>
                        <li class="col-md-6 col-sm-6"><img src="../../assets/img/4.jpg" alt=""> </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--End row-->
    </div>
    <!--End container-->
    <div class="gap-one-bottom-md"></div>
    <!--Container-->
    <div class="container ">
        <!--Row-->
        <div class="row vertical-align">
            <div class="col-md-6   ">
                <div class="block-content">
                    <ul class="block-images row">
                        <li class="col-md-6 col-sm-6"><img src="../../assets/img/5.jpg" alt=""> </li>
                        <li class="col-md-6 col-sm-6"><img src="../../assets/img/6-1.jpg" alt=""> </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-5 offset-md-1  ">
                <div class="block-content text-center">
                    <h4 class="uppercase">upcoming tour </h4>
                    <p>Fort Mason Center
                        <br> San Fancisco, CA</p>
                    <h4 class="uppercase h4">location </h4>
                    <p>Sunday to Wednesday
                        <br>July 23 to 26, 2017 </p>
                    <a class="btn btn-primary with-ico" href="#"><i class="icon-ticket"></i>buy a ticket</a>
                </div>
            </div>
        </div>
        <!--End row-->
    </div>
    <!--End container-->
    <!--Container-->
    <div class="container ">
        <!--Row-->
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-9 ">
                <div class="block-content text-center gap-one-top-md">
                    <h4 class="uppercase">purchase music </h4>
                    <ul class="block-social list-inline mt-4">
                        <li class="list-inline-item mr-0"><a href="#"><i class="socicon-apple"></i></a></li>
                        <li class="list-inline-item mr-0"><a href="#"><i class="socicon-play"></i></a></li>
                        <li class="list-inline-item mr-0"><a href="#"><i class="socicon-amazon"></i></a></li>
                        <li class="list-inline-item mr-0"><a href="#"><i class="socicon-soundcloud"></i></a></li>
                        <li class="list-inline-item mr-0"><a href="#"><i class="socicon-spotify"></i></a></li>
                        <li class="list-inline-item mr-0"><a href="#"><i class="socicon-youtube"></i></a></li>
                    </ul>
                </div>
                </div>
            </div>
            <!--End row-->
        </div>
        <!--End container-->
</section>
<!--End about section-->