<section  class="latest main">
    <!--Container-->
    <div class="container">
       <!--Row-->
       <div class="row justify-content-center">
          <div class="col-12 col-md-10 col-lg-9 ">
             <div class="block-content text-center gap-one-bottom-md">
                <div class="block-title ">
                   <div class="block-bars">
                      <img src="../../assets/img/sound-bars.png" alt="">
                   </div>
                   <h6 class="uppercase mb-1">enjoy our music </h6>
                   <h1 class="uppercase mb-0">Album info</h1>
                </div>
             </div>
          </div>
       </div>
       <!--End row-->
    </div>
    <!--End container-->
    <!--Container-->
    <div class="container">
       <!--Row-->
       <div class="row vertical-align">
          <div class="col-lg-8  ">
             <img class="mb-0" src="../../assets/img/vinyl.png" alt="">
          </div>
          <div class="offset-lg-1  col-lg-3    ">
             <div class="block-content ">
                <div class="block-album-info">
                  <ul>
                      <li>
                         <h5 class=" uppercase list-inline-item">Label : </h5>
                         <span>Limitless</span>
                      </li>
                      <li>
                         <h5 class=" uppercase list-inline-item">Released : </h5>
                         <span>March 23/3/18</span>
                      </li>
                      <li>
                         <h5 class=" uppercase list-inline-item ">Genre : </h5>
                         <span>Pop/Rock/techno</span>
                      </li>
                      <li>
                         <h5 class="uppercase list-inline-item ">Styles : </h5>
                         <span>Revival/Indie Rock</span>
                      </li>
                      <li>
                      </li>
                   </ul>
                </div>                        <ul class="block-social list-inline mt-4">
                   <li class="list-inline-item mr-0"><a href="#"><i class="socicon-apple"></i></a></li>
                   <li class="list-inline-item mr-0"><a href="#"><i class="socicon-play"></i></a></li>
                   <li class="list-inline-item mr-0"><a href="#"><i class="socicon-amazon"></i></a></li>
                   <li class="list-inline-item mr-0"><a href="#"><i class="socicon-soundcloud"></i></a></li>
                   <li class="list-inline-item mr-0"><a href="#"><i class="socicon-spotify"></i></a></li>
                   <li class="list-inline-item mr-0"><a href="#"><i class="socicon-youtube"></i></a></li>
                </ul>
             </div>
          </div>
       </div>
       <!--End row-->
    </div>
    <!--End container-->
    <!--Container-->
    <div class="container">
       <!--Row-->
       <div class="row justify-content-center">
          <div class="col-12 col-lg-9 col-md-12">
             <div class="block-tracklist gap-one-top-md">
                <audio preload class="album"></audio>
                <ol class="playlist">
                   <li>
                      <div class="as-link" data-src="mp3/01.mp3">
                         <!--Row-->
                         <div class="row">
                            <div class="col-lg-6 col-md-6 ">
                               <div class="block-track ml-5">
                                  <h5 class="mb-0 h uppercase">Love alive</h5>
                                  <span class="opc-50">Limitless </span>
                               </div>
                            </div>
                            <div class="col-lg-6 col-md-6 text-md-right">
                               <a href="javascript:;" class="btn-s uppercase btn with-ico" ><i class="icon-download"></i>Download</a>
                            </div>
                         </div>
                      </div>
                   </li>
                   <li >
                      <div class="as-link" data-src="mp3/01.mp3">
                         <!--Row-->
                         <div class="row">
                            <div class="col-lg-6 col-md-6">
                               <div class="block-track ml-5">
                                  <h5 class="mb-0  uppercase ">Hope</h5>
                                  <span class="opc-50"> Limitless</span>
                               </div>
                            </div>
                            <div class="col-lg-6 col-md-6 text-md-right">
                               <a href="#" class="btn-s uppercase btn  with-ico  toggle-lyrics"><i class="icon-note"></i>Lyrics</a>
                               <a href="#" class="btn-s uppercase btn  with-ico" ><i class="icon-cart"></i>Purchase</a>
                            </div>
                            <div class="col-12 ">
                               <div class="block-lyrics w-75 text-center mt-3">
                                  <h3 class="mb-4  uppercase ">Hope</h3>
                                  <p>Liberian girl
                                     You came and you changed my world
                                     A love so brand new
                                     Liberian girl
                                     You came and you changed my world
                                     A feeling so true
                                  </p>
                                  <p>Liberian girl
                                     You know that you came
                                     And you changed my world
                                     Just like in the movies
                                     With two lovers in a scene
                                     And she says
                                     "Do you love me"
                                     And he says so endlessly
                                     "I love you, Liberian girl"
                                  </p>
                                  <p>Liberian girl
                                     More precious than any pearl
                                     Your love so complete
                                     Liberian girl
                                     You kiss me then,
                                     Ooh, the world
                                     You do this to me
                                     Liberian girl
                                     You know that you came
                                     And you changed my world
                                     Just like in the movies
                                     With two lovers in a scene
                                     And she says
                                     "Do you love me"
                                     And he says so endlessly
                                     "I love you, Liberian girl"
                                  </p>
                                  <p>Liberian girl
                                     You know that you came
                                     And you changed my world
                                     I wait for the day
                                     When you have to say
                                     "I do"… 
                                  </p>
                               </div>
                            </div>
                         </div>
                      </div>
                   </li>
                   <li >
                      <div class="as-link" data-src="mp3/03.mp3">
                         <!--Row-->
                         <div class="row">
                            <div class="col-lg-6 col-md-6">
                               <div class="block-track ml-5">
                                  <h5 class="mb-0  uppercase">Bounce out</h5>
                                  <span class="opc-50">Limitless </span>
                               </div>
                            </div>
                            <div class="col-lg-6 col-md-6 text-md-right">
                               <a href="javascript:;" class="btn-s uppercase btn  with-ico" ><i class="icon-download"></i>Download</a>
                            </div>
                         </div>
                      </div>
                   </li>
                   <li >
                      <div class="as-link" data-src="mp3/04.mp3">
                         <!--Row-->
                         <div class="row">
                            <div class="col-lg-6 col-md-6">
                               <div class="block-track ml-5">
                                  <h5 class="mb-0  uppercase">Girls are the same</h5>
                                  <span class="opc-50">Limitless </span>
                               </div>
                            </div>
                            <div class="col-lg-6 col-md-6 text-md-right">
                               <a href="javascript:;" class="btn-s uppercase btn  with-ico"><i class="icon-download"></i>Download</a>
                            </div>
                         </div>
                      </div>
                   </li>
                   <li >
                      <div class="as-link" data-src="mp3/05.mp3">
                         <!--Row-->
                         <div class="row">
                            <div class="col-lg-6 col-md-6">
                               <div class="block-track ml-5">
                                  <h5 class="mb-0 uppercase ">My queen</h5>
                                  <span class="opc-50">Limitless </span>
                               </div>
                            </div>
                            <div class="col-lg-6 col-md-6 text-md-right">
                               <a href="#" class="btn-s  uppercase btn  with-ico  toggle-lyrics"><i class="icon-note"></i>Lyrics</a>
                               <a href="javascript:;" class="btn-s uppercase btn  with-ico" ><i class="icon-cart"></i>Purchase</a>
                            </div>
                            <div class="col-12 ">
                               <div class="block-lyrics w-75  text-center mt-3">
                                  <h3 class="mb-4  uppercase ">My queen</h3>
                                  <p>Liberian girl
                                     You came and you changed my world
                                     A love so brand new
                                     Liberian girl
                                     You came and you changed my world
                                     A feeling so true
                                  </p>
                                  <p>Liberian girl
                                     You know that you came
                                     And you changed my world
                                     Just like in the movies
                                     With two lovers in a scene
                                     And she says
                                     "Do you love me"
                                     And he says so endlessly
                                     "I love you, Liberian girl"
                                  </p>
                                  <p>Liberian girl
                                     More precious than any pearl
                                     Your love so complete
                                     Liberian girl
                                     You kiss me then,
                                     Ooh, the world
                                     You do this to me
                                     Liberian girl
                                     You know that you came
                                     And you changed my world
                                     Just like in the movies
                                     With two lovers in a scene
                                     And she says
                                     "Do you love me"
                                     And he says so endlessly
                                     "I love you, Liberian girl"
                                  </p>
                                  <p>Liberian girl
                                     You know that you came
                                     And you changed my world
                                     I wait for the day
                                     When you have to say
                                     "I do"… 
                                  </p>
                               </div>
                            </div>
                         </div>
                      </div>
                   </li>
                   <li >
                      <div class="as-link" data-src="mp3/06.mp3">
                         <!--Row-->
                         <div class="row">
                            <div class="col-lg-6 col-md-6">
                               <div class="block-track ml-5">
                                  <h5 class="mb-0  uppercase">Falling apart</h5>
                                  <span class="opc-50">Limitless </span>
                               </div>
                            </div>
                            <div class="col-lg-6 col-md-6 text-md-right">
                               <a href="javascript:;" class="btn-s uppercase btn  with-ico" ><i class="icon-download"></i>Download</a>
                               <a href="javascript:;" class="btn-s uppercase btn  with-ico" ><i class="icon-basket"></i>Purchase</a>
                            </div>
                         </div>
                      </div>
                   </li>
                </ol>
             </div>
          </div>
       </div>
       <!--End row-->
    </div>
    <!--End container-->
 </section>